*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.player-info h2 {
  font-size: 2rem;
}

.player-winner {
  background-color: green;
}

.player-turn {
  background-color: #24242450;
  border: 1px solid #242424;
}

.tile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tile__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative
}

.tile__row:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* .tile__row:not(:last-child) {
  border-bottom: 10px solid #FFF;
} */



.tile__row>* {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
  line-height: 100%;
  flex: 1;
  font-size: 3rem;
  padding: 20px 40px;
}

.tile__row>*:not(:last-child)::before {

  content: '';
  display: block;
  position: absolute;
  right: -25px;
  top: -5px;
  width: 10px;
  height: 110%;
  background-color: #FFF;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;

}